body {
  background-image: url("https://cdn.wallpapersafari.com/62/98/Qjf1kZ.png");
  background-position: center; 
  background-repeat: no-repeat;
   background-size: cover;
  background-attachment: fixed; 
  color:aliceblue;
 } 


  .news{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 6px 10px;
    text-decoration: none;
  }
  .news:hover{
    text-decoration: none;
     background-color: rgba(0,0,0,0);
    color: white;
  }
.nav {
  transition: all 2s;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  height: 70px;
 
}
ul{
  
  display: flex; 
  list-style-type: none;
  margin: auto 0px;
  padding: 0;
  
}


.link{
  font-family:cursive;
  margin: 6px 10px;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.link:hover {border-radius: 25px;
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
  color: rgb(255, 213, 213);
  
  font-weight: 200;
  
 
}
.card-body a:hover{
 
  font-size: large;


}
.fixed{
  position: fixed;
  top:0;
  background-color: black;
  width: 100%;
}
.fixed + .sample-content{
  padding-top: 60px;
 
}